.root {
  background-color: #ff9466;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    height: 65vh;
    width: 60vw;
    border-radius: 10px;
    background-color: #f1f2f7;
    padding: 40px;
  }
}
